/.idea
vendor/
node_modules
.env
.DS_Store
Thumbs.db
composer.lock
composer.phar
bootstrap/compiled.php
.env.*.php
.env.php
database.sqlite
*~
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.project
.vagrant/
src/server/public/css/style.css
dbdumps
src/bower_components
src/server/public/js
