/.idea
vendor/
node_modules
.env
.DS_Store
Thumbs.db
composer.lock
composer.phar
bootstrap/compiled.php
.env.*.php
.env.php
database.sqlite
*~
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.project
.vagrant/
src/public/css/style.css
dbdumps
src/bower_components
src/public/css/loading-bar.css
src/public/js/loading-bar.js
src/public/js/lodash.js
src/public/js/angular.js
src/public/css/admin.css
src/public/js/ui-bootstrap.js
src/public/js/angular-route.js
