    <footer class="background-primary">
      O <a target="_blank" href="https://github.com/ecobytes/plantei.eu-website">código do site</a> Plantei.eu é desenvolvido sob uma licença open source - <a href="https://raw.githubusercontent.com/ecobytes/plantei.eu-website/master/LICENSE" target="_blank">GPL</a>.
    </footer>

    <script type="text/javascript" src="js/bootstrap-bundle.js"></script>
</body>
</html>
