<!doctype html>
<html lang="pt-pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="/css/jquery.fileupload.css">
  <link rel="stylesheet" href="/css/fullcalendar/fullcalendar.min.css">
  {{!-- <link rel="stylesheet" href="/css/jquery.ui.timepicker.css"> --}}
  <link rel="stylesheet" href="/css/jquery.timepicker.css">
  {{!-- <link rel="stylesheet" href="/css/fullcalendar/fullcalendar.print.css" media="print"> --}}
  <link rel="stylesheet" href="/css/bootstrap-tokenfield.min.css" media="screen">

  <style>
    .fc-scroller.fc-day-grid-container {
      overflow-y: hidden !important;
    }
  </style>
</head>
<body id="{{bodyId}}">
  <!--
<div class="container-fluid">
 {{#unless isProduction}}
    <div class="row">
      <div class="col-md-12 envWarning text-center text-danger smt smb">
     Site running in test mode. Inserted data will be destroyed regularly.
      </div>
    </div>
  {{/unless}}
</div>
  -->
