{{> mainapp_start}}
<div class="row">
  <h1>Calendário</h1>
</div>
<div class="row content">
  <div id='mycalendar'></div>
</div>
{{> mainapp_end}}
<script type="text/javascript" src="/js/fullcalendar/moment.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar/lang/pt.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/event_scripts.js"></script>

<script>

$(document).ready(function() {
  // page is now ready, initialize the calendar...
  /*let default_event_id = parseInt(findGetParameter('id'));
  console.log(default_event_id);
  if (default_event_id) {
    var event = $("#mycalendar").fullCalendar('clientEvents', default_event_id)[0];
    console.log(event);
  };*/
});
</script>
{{>footer}}
