{{> mainapp_start}}
    <div class="row">
      <h1>PANASAD da MARIA</h1>
    </div>
    <div class="row content">
      <div class="col-md-4">
        <div class="row">
          {{> mini_seeds}}
        </div>
        <div class="row">
          {{> mini_calendar}}
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          {{> mini_messages}}
        </div>
        <div class="row">
          {{> mini_news}}
        </div>
        <div class="row">
          {{> mini_forum}}
        </div>
      </div>
    </div>

    {{> mainapp_end}}
<script type="text/javascript" src="/js/fullcalendar/moment.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar/lang/pt.js"></script>

<script>
$('#seeds tr').on('click', function () {
  //window.open('/seedbank/register/' + $(this).data('seed_id'), '_self');
  var seed_id = $(this).data('seed_id');
  $.get("/seedbank/seedm/" + seed_id, function (data) {
    if (data.length == 0){
      return false;
    }
    $('#info_modal .modal-content').empty();
    $('#info_modal .modal-content').append(data);

    $('#info_modal').modal('show');
  });
}).mouseover(function () {
  $(this).addClass('active');
}).mouseout(function () {
  $(this).removeClass('active');
});

$('#info_modal').on('click', '.modal-footer .footer-left button', function(){
  var seed_id = $('#info_modal .modal-title').data("seed_id");
  window.open('/seedbank/register/' + seed_id, '_self');
});

$('.listEvents').on('click', 'li', function (e) {
  $.get('/events/get/' + $(this).data('id'), function (data) {
    if (! data ) { return false;}
    $(".modal-content").html(data);
    $('#info_modal').modal('show');
  });
});

$('#messages tr').on('click', function () {
    $('#info_modal .modal-content').html('<img src="/js/tinymce/skins/lightgray/img/loader.gif"/>');
    $('#info_modal').modal('show');
    var threadId = $(this).data('thread_id');
    $.get('/messages/' + threadId, function (data) {
      $('#info_modal .modal-content').html(data);
    });
  }).mouseover(function () {
    $(this).addClass('active');
  }).mouseout( function () {
    $(this).removeClass('active');
  });

/*$('#new_seed').on('click', function () {
  window.open('/seedbank/register', '_self');
  return false;
  });
 */

$('#calendar').fullCalendar({
  // put your options and callbacks here
  defaultView: 'month',
  header: false,
  themeSystem: 'bootstrap3',
  //contentHeight: 400,
  lang: "pt",
  timeFormat: 'HH:mm',
  eventClick: function(calEvent, jsEvent, view) {
    console.log(calEvent);
    $.get("/events/get/" + calEvent.id, function (data) {
      if (data.length == 0){
        return false;
      }
      $('#event_info .modal-content').empty();
      $('#event_info .modal-content').append(data);
      $('#event_info').modal('show');
    });
  },
  eventSources: [
    {
      url: '/api/calendar',
      type: 'POST',
      color: 'yellow',
      textColor: 'black'
    }
  ],
});
</script>
{{>footer}}
