{{> mainapp_start}}
    <div class="row">
      <h1>A MINHA HORTA</h1>
    </div>
    <div class="row content">
      <div class="col-md-12">
        <h2>PLANO DA HORTA</h2>
      <p>sasda</p>
      </div>
    </div>
    <div class="row content" style="margin-bottom: 16px;">
      <div class="col-md-6">
        <h2>SUMÁRIO</h2>
      </div>
      <div class="col-md-6">
        <div id="calendar-horta"></div>
        <!-- ul style="list-style: none;">
          <li style="float: left;/* margin-left: 2em;*/">PLANTIO</li>
          <li style="float: left; margin-left: 4em;">MONDA</li>
          <li style="float: left; margin-left: 4em;">APANHA</li>
          <li style="float: left; margin-left: 4em;">ESTRUME</li>
          <li style="float: left; margin-left: 4em;">POUSIO</li>
        </ul -->
        <table style="width:100%;">
          <thead>
            <tr>
              <th style="font-size: 1.7em;">PLANTIO</th>
              <th style="font-size: 1.7em;">MONDA</th>
              <th style="font-size: 1.7em;">APANHA</th>
              <th style="font-size: 1.7em;">ESTRUME</th>
              <th style="font-size: 1.7em;">POUSIO</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    {{> mainapp_end}}
<script type="text/javascript" src="/js/fullcalendar/moment.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/fullcalendar/lang/pt.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/horta.js"></script>


{{>footer}}
