<div style="float:right; margin-right:50px;">
  <ul class="pagination">
    <li class="disabled"><span>NUMBER OF PAGES__: {{paginated.last_page}}</span></li>
    <li class="disabled"><span>&laquo;</span></li>
    <li class="active"><span>uM</span></li>
    <li><a href="/seedbank/myseeds?page=2">dOIS</a></li>
    <li><a href="/seedbank/myseeds?page=3">tRÊS</a></li>
    <li><a href="/seedbank/myseeds?page=4">qUATRO</a></li>
    <li><a href="/seedbank/myseeds?page=5">cINCO</a></li>
    <li><a href="/seedbank/myseeds?page=6">sEIS</a></li>
    <li><a href="/seedbank/myseeds?page=7">sETE</a></li>
    <li><a href="/seedbank/myseeds?page=2" rel="next">&raquo;</a></li>
  </ul>
</div>
