{{> header}}
{{> menu}}
<div class="pageWrap background-primary">
	<div class="container">
		<div class="row lmt">
			{{> formErrors}}
					<div class="col-md-12 text-center">
						<h1>Preferências</h1>
					</div>
		</div>
	</div>
</div>
{{>scripts}}
{{>footer}}
