{{> mainapp_start}}
<!-- div class="modal fade" id="sementeca">
  <div class="modal-dialog">
    <div class="modal-content">
    <!-- /div><!-- /.modal-content -->
  <!-- /div><!-- /.modal-dialog -->
<!-- /div--><!-- /.modal -->
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <div id="map" style="min-height: 400px; width:100%;">
      </div>
    </div>
  </div>

{{> mainapp_end}}
{{>scripts}}
<script type="text/javascript" src="/js/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/sementecas.js"></script>
<script>
window.onload = function () {
  initmap({{lat}}{{#if lon}}, {{lon}}{{/if}});
  map.on('click', onMapClick);
};
</script>
{{>footer}}
