{{> mainapp_start}}
<div class="row">
  <h1>Sementecas</h1>
</div>
<div class="row content">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <div id="map" style="min-height: 600px; width:100%;">
      </div>
    </div>
  </div>
</div>

{{> mainapp_end}}
<script type="text/javascript" src="/js/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
<script type="text/javascript" src="/js/sementecas.js"></script>
<script>
window.onload = function () {
  initmap({{#if lat}}{{lat}}{{/if}}{{#if lon}}, {{lon}}{{/if}});
  map.on('click', onMapClick);
};
</script>
{{>footer}}
