{{> header}}
{{> menu}}
<div class="modal fade" id="seed_info">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="pageWrap background-primary">
  <div class="container">
    <!-- <div class="row lmt"> -->
      <div class="col-md-6 text-center">
        <h1>{{menu.seedshare}}</h1>
        {{#if isadmin }}
        {{!-- TODO: Add scripts to manage sementecas --}}
        <h2>Admin MOde</h2>
        {{/if}}
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <!-- <th>Disponível</th>
              <th>Pública</th> -->
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>
</div>

{{>scripts}}
{{>footer}}
