<div class="col-md-3 no-float myseeds">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" {{#if part.myseeds}}class="active"{{/if}}><a href="/seedbank/myseeds">{{menu.myseeds}}</a></li>
    <li role="presentation" {{#if part.exchanges}}class="active"{{/if}}><a href="/seedbank/exchanges">{{menu.exchanges}}</a></li>
    <li role="presentation" {{#if part.messages}}class="active"{{/if}}><a href="/messages">{{menu.messages}}</a></li>
  </ul>
</div>
