{{> header}}
{{> menu}}
<div class="modal fade" id="message-display">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="myseeds pageWrap background-primary">
  <div class="container myseeds">
    <div class="row myseeds">
      {{> userarea-menu }}
      <div class="col-md-9 myseeds">
      {{#if part.myseeds}}
      {{> myseeds-part }}
      {{/if}}
      {{#if part.messages}}
      {{> messenger-part }}
      {{/if}}
      {{#if part.exchanges}}
      {{> exchanges-part }}
      {{/if}}
      {{#if part.search}}
      {{> search-part }}
      {{/if}}
      {{#if part.register}}
      {{> register-part }}
      {{/if}}
      </div>
    </div>
  </div>
</div>

{{>scripts}}
<script>
Lang.setLocale('pt');
</script>

{{#if part.myseeds}}
<script type="text/javascript" src="/js/myseeds.js"></script>
{{/if}}
{{#if part.messages}}
<script type="text/javascript" src="/js/messenger.js"></script>
{{/if}}
{{#if part.exchanges}}
<script type="text/javascript" src="/js/exchanges.js"></script>
{{/if}}
{{#if part.search}}
<script type="text/javascript" src="/js/search.js"></script>
{{/if}}
{{#if part.register}}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included 
<script src="/js/vendor/jquery.ui.widget.js"></script> -->
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/js/load-image.all.min.js"></script>
<!--
<!-- The Canvas to Blob plugin is included for image resizing functionality
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation 
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads
-->
<script src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/jquery.fileupload-validate.js"></script>
<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/registerseed.js"></script>
{{/if}}


{{>footer}}
