<div class="col-md-3 no-float myseeds" style="padding-bottom: 51px">
  <ul class="nav nav-pills nav-stacked" style="margin: 0 !important;">
    <li role="presentation" {{#if part.myseeds}}class="active"{{/if}}><a href="/seedbank/myseeds">{{menu.myseeds}}</a></li>
    <li role="presentation" {{#if part.exchanges}}class="active"{{/if}}><a href="/seedbank/exchanges">{{menu.exchanges}}</a></li>
    <li role="presentation" {{#if part.messages}}class="active"{{/if}}><a href="/messages">{{menu.messages}}</a></li>
    <li role="presentation" {{#if part.search}}class="active"{{/if}}><a href="/seedbank/search">{{menu.search}}</a></li>
  </ul>
</div>
