/* UNIFIED MARGINS - REDO IN PRE-PROCESSOR*/

.nml {
  margin-left: 0;
}
.nmr {
  margin-right: 0;
}
.nmt {
  margin-top: 0;
}
.nmb {
  margin-bottom: 0;
}
.xsmt {
  margin-top: 6px;
}
.xsmr {
  margin-right: 6px;
}
.xsmb {
  margin-bottom: 6px;
}
.xsml {
  margin-left: 6px;
}
.smt {
  margin-top: 16px;
}
.smr {
  margin-right: 16px;
}
.smb {
  margin-bottom: 16px;
}
.sml {
  margin-left: 16px;
}
.mmt {
  margin-top: 32px;
}
.mmr {
  margin-right: 32px;
}
.mmb {
  margin-bottom: 32px;
}
.mml {
  margin-left: 32px;
}
.lmt {
  margin-top: 64px;
}
.lmr {
  margin-right: 64px;
}
.lmb {
  margin-bottom: 64px;
}
.lml {
  margin-left: 64px;
}
.xlmt {
  margin-top: 120px;
}
.xlmr {
  margin-right: 120px;
}
.xlmb {
  margin-bottom: 120px;
}
.xlml {
  margin-left: 120px;
}

/* END MARGINS */

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	background-color: #eae0b6;
}
input{
	padding-bottom: 0.25em !important;
}

#splashImage {
	background: url('../img/splash.jpg') center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 70vh;
}
#intro {
	background: url('//placehold.it/1500x400') center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 400px;
}

#intro .teaser {
}


.newsletterSubscription {
	margin-top: 48px;
}

.brand {
	display: none;
}

.newsletterSubscription .inscriptionDescription {
	margin-bottom: 24px;
	color: #308a17;
}

.whywhathow {
	text-align: center;
}
.whywhathow img {
	display: inline-block;
}
.whywhathow .description {
	text-align: left;
	max-width: 450px;
	display: relative;
	margin-left: auto;
	margin-right: auto;
}

