// Breaks at: screen-xs 480px; @screen-sm: 768px; @screen-md: 992px; @screen-lg: 1200px;
@import "variables.less";

#index{
  .intro-box {
    background: @body-bg;
    margin-top: 26px;
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    img {
      margin: 0 auto;
    }
    .description {
      font-family: @font-family-serif;
      font-size: 25px;
      font-weight: bold;
    }
    .description a {
      font-size: 18px;
      font-weight: bold;
    }
    .mainActions {
      margin-left: 15px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    #emailInput, #nameInput {
      text-align: center
    }
    #emailInput::-webkit-input-placeholder {
     text-align: center;
    }

    #emailInput:-moz-placeholder { /* Firefox 18- */
     text-align: center;
    }

    #emailInput::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
    }

    #emailInput:-ms-input-placeholder {
     text-align: center;
    }

    .btn-lg {
      font-size: 18px;
      width: 200px;
      height: 60px;
      line-height: 40px;
      font-weight: bold;
      background-color: #ADC77F;
      border-color: #ADC77F;
      }

      .btn-lg:hover {
        background-color: #C1D6A1;
        border-color: #C1D6A1;
      }

  }
  .info-box {
    background: white;
    margin: auto;
    min-height: 300px;
    img {
      width: 50%;
      margin-bottom: 24px;
    }
    p {
      font-family: @font-family-sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      max-width: 320px;
      margin: auto;
    }
  }
}
.langbtn {
  padding-top: 16px;
  margin: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.lang {
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-weight: bold;
  color: @brand-green;
  font-size: 14px;
  position: relative;
  display: inline-block;
  .lang-choices {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    z-index: 1;
    /*margin-left: 40px;*/
  }
  .lang-choices a {
    color: #808080;
    padding: 0px;
    text-decoration: none;
    display: block;
  }
  .lang-choices a:hover {background-color: #f1f1f1}
}
.lang:hover .lang-choices {
  display: block;
}

a.iconified {
  //padding: 2px 0px 2px 20px;
  padding-left: 1em !important;
  display: block;
  height: 100px;
  width: 100px;
}
a.iconified.enc {
  background: transparent url('/images/enciclopedia.svg') scroll no-repeat center center;
}
a.iconified.seedbank {
  background: transparent url('/images/organiza.svg') scroll no-repeat center center;
}
a.iconified.cal {
  background: transparent url('/images/calendario.svg') scroll no-repeat left center;
}
a.iconified.sem {
  background: transparent url('/images/sementes.svg') scroll no-repeat left center;
}
a.iconified.forum {
  background: transparent url('/images/forum.svg') scroll no-repeat left center;
}
a.iconified.home {
  background: transparent url('/images/home.svg') scroll no-repeat left center;
}
a.iconified.mess {
  background: transparent url('/images/mensagens.svg') scroll no-repeat left center;
}
a.iconified.sett {
  background: transparent url('/images/settings.svg') scroll no-repeat left center;
}
a.iconified.seed {
  background: transparent url('/images/minhassementes.svg') scroll no-repeat left center;
}
a.iconified span {
  position: absolute;
  bottom: 16px;
}

#mainapp {
  .row.main {
    .col-md-10 .col-sm-4 div {
      border-top: solid thin;
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 904px) {
  #mainapp {
    ul.nav.navbar-nav {
        width: 100%;
        li:last-child {
          padding-right: 10%;
          /*margin: 16px auto;*/
        }
        li:first-child {
          float: clear;
          display: none;
        }
    }
    ul.nav {
      background: #808080;
    }
    ul.nav > li.navbar-right.active > a {
      background-color: white;
    }
    .side-nav ul.nav > li.active > a {
      background-color: white;
      z-index: 999;
      margin-top: 1px;
    }
    .side-nav ul.nav > li {
      color: white;
      border-bottom: solid thin;
    }
    .row.main {
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      .row {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .row.main .col-md-10 {
      min-height: 450px;
      background: white;
      padding-right: 16px;
      float:none;
      width: auto;
      border: solid thin;
      overflow: hidden;
      table {
        td, th {
          padding-left: 16px;
          padding-right: 16px;
          border-bottom: solid thin;
        }
        img {
          margin: 12px;
        }
      }
    }
    .side-nav {
      background: white;
      margin: 0px;
      padding: 0px;
      width: 98px;
      position: relative;
      display:block;
      float:left;
    }
    .side-nav .col-md-12 {
      margin: 0px;
      padding: 0px;
    }
    .navbar {
      margin-bottom: 0px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 904px) {
  #mainapp {
    ul.nav.navbar-nav {
      float: right;
        li:last-child {
          margin: 16px auto;
          display: block;
        }
        li:first-child {
          float: clear;
          display: block;
        }

        li {
          display: none;
        }

    }
    ul.nav {
      background: #808080;
    }
    /* ul.nav li.active a {
      background: white;
    } */
    .side-nav {
      ul.nav > li.active > a {
        background-color: white;
        z-index: 10;
        margin-top: 1px;
      }
      ul.nav > li {
        color: white;
        border-bottom: solid thin;
      }
      ul li {
        float: right;
      }
      background: white;
      margin: 0px;
      padding: 0px;
      height: 100px;
      position: relative;
      .col-md-12 {
        width: 100%;
        position: absolute;
        margin: 0px;
        padding: 0px;
      }
    }
    .col-md-2.side-nav {
      width: 100%;
      z-index: 100;
      position: relative;
      margin: 0px;
      padding: 0px;
      display: block;
      float: left;
    }
    .row.main {
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      .row {
        padding-left: 15px;
        padding-right: 15px;
      }
      .col-md-10 {
        /*width: 100%;
        margin: 0px;
        padding-top: 100px;*/
        min-height: 450px;
        background: white;
        padding-right: 16px;
        float:none;
        width: auto;
        border: solid thin;
        table {
          td, th {
            padding-left: 16px;
            padding-right: 16px;
            border-bottom: solid thin;
          }
          img {
            margin: 12px;
          }
        }
      }
    }
    .navbar {
      margin-bottom: 0px;
      text-transform: uppercase;
    }
  }
}

/*
@media (max-width: @screen-sm) {
  #index {
    .jumbotron.intro .mainActions {
      position: relative;
      margin-left: 0;
      margin-right: 0;
      margin-top: @lm;
      text-align: center;
      .btn, .btn-group {
        margin-left: 0;
        margin-right: 0;
      }
      .moreinfo {
        margin-bottom: @mm;
      }
    }
  }
}
*/
