<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
  <h1>{{ title }}
    {{!-- this is a comment out of the html --}}
    {{#if draft}}
    #Draft#
    {{/if}}
  </h1>
  <time>{{ date }}</time>
  {{{ contents }}}
</body>
</html>
