<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body id="index">
<div class="pageWrap background-primary">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">plantei.eu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
	<div class="row xlmt">
		<div class="col-md-6 col-md-offset-3 xlmt text-center">
				{{{ contents }}}
		</div>
	</div>
</div>
</div>
<footer class="background-primary">
  Plantei.eu
 </footer>
</body>