<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body id="index">

  <div class="jumbotron intro background-primary">
    <h1>
      plantei.eu
    </h1>
    <div class="description">
    Plataforma de gestão e partilha de bibliotecas de sementes
    </div>
    <div class="mainActions lmb lmr">
      <a href="#moreinfo" class="moreinfo btn btn-default btn-lg smb">Mais informação</a>
      <div class="btn-group lml" role="group" aria-label="...">
        <a href="/register.html" class="login btn btn-default btn-lg smb">Registo</a>
        <a href="/login" class="login btn btn-default btn-lg smb">Login</a>
      </div> 
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 lmt">
        <img id="moreinfo" class="img-responsive" src="http://placehold.it/1500x450">
      </div>
      <div class="col-md-4 mmt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sed unde fugit ullam commodi, maiores quis incidunt cumque repellendus delectus repellat dolores recusandae facilis at aliquam porro excepturi voluptas distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic optio quae aliquam iusto! Aliquam cupiditate, obcaecati. Consequatur fugit quas at harum.
      </div>
      <div class="col-md-4 mmt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sed unde fugit ullam commodi, maiores quis incidunt cumque repellendus delectus repellat dolores recusandae facilis at aliquam porro excepturi voluptas distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic optio quae aliquam iusto! Aliquam cupiditate, obcaecati. Consequatur fugit quas at harum.
      </div>
      <div class="col-md-4 mmt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sed unde fugit ullam commodi, maiores quis incidunt cumque repellendus delectus repellat dolores recusandae facilis at aliquam porro excepturi voluptas distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic optio quae aliquam iusto! Aliquam cupiditate, obcaecati. Consequatur fugit quas at harum.
      </div>
    </div>
    <div class="row xlmt">
      <form class="newsletterSubscription col-md-6 col-md-offset-3 text-center">
        <div class="inscriptionDescription"> {{{contents}}} </div>
        <label for="email"></label>
        <input name="email" type="email" placeholder="endereço de email">
        <input type="submit" class="btn btn-success" value="inscrever"/>
      </form>
    </div>
  </div>
    <footer class="background-primary">
      Whatever we have to put here...
    </footer>

</body>
</html>
