{{> header}}
<body id="index">
<div class="pageWrap">
  <div class="jumbotron intro background-primary">
    <h1>
      plantei.eu
    </h1>
    <div class="description">
    {{subtitle}}
    </div>
    <div class="row xlmt">
      <div class="inscriptionDescription mmb col-md-6 col-md-offset-3 text-center"> {{{pageIntro}}} </div>
    </div>
    <div class="row mmt mmb">
      <form class="newsletterSubscription col-md-6 col-md-offset-3 text-center form-horizontal">
          <div class="col-md-6 mmb">
            <input type="name" placeholder="Your name" class="form-control" name="username" id="emailInput" />
          </div>
          <div class="col-md-6 mmb">
            <input type="email" placeholder="Your email" class="form-control" name="username" id="emailInput" />
          </div>

          <div class="col-md-12 mmt text-center">
            <input type="submit" class="btn btn-success btn-lg" value="subscribe"/>
          </div>
      </form>
    </div>
    <!--div class="mainActions lmb lmr">
      <a href="#moreinfo" class="moreinfo btn btn-default btn-lg smb">Mais informação</a>
      <div class="btn-group lml" role="group" aria-label="...">
        <a href="/register.html" class="login btn btn-default btn-lg smb">Registo</a>
        <a href="/login" class="login btn btn-default btn-lg smb">Login</a>
      </div>
    </div-->
  </div>
  <div class="container-fluid xlmb">
    <div class="row">
      <div class="col-md-12 lmt">
        <img id="moreinfo" class="img-responsive" src="http://placehold.it/1500x450">
      </div>
      <div class="col-md-4 mmt">
        {{shortDescription1}}
      </div>
      <div class="col-md-4 mmt">
      {{shortDescription2}}
      </div>
      <div class="col-md-4 mmt">
      {{shortDescription3}}
      </div>
    </div>
  </div>
  </div>
{{> footer}}
