<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body id="register" class="background-primary">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">plantei.eu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- NAV LINKS GO HERE -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login.html">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container-fluid pageWrap">
    <div class="row register lmt lmb">
      <form class="col-sm-6 col-sm-offset-3 form-horizontal">
        <h2 class="mmb">Register</h2>

        <div class="form-group">
          <label for="username" class="control-label">Username</label>
          <span class="cell">
          <input type="text" class="form-control" name="username" id="username" placeholder='real name or “internet name” your choice.'>
          </span>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <span class="cell">
            <input type="email" class="form-control" name="username" id="email">
          </span>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <span class="cell">
            <input type="password" class="form-control" name="username" id="password">
          </span>
        </div>
        <div class="form-group">
          <label for="passwordConfirm" class="control-label">Confirm Password</label>
          <span class="cell">
            <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm">
          </span>
        </div>
        <div class="text-center lmt"> 
          <input type="submit" class="btn btn-default registerBtn btn-lg" value="Register" />     
        </div>
        <div class="text-center smt ">
            <small>pretend this form works and <a href="/registrationSuccessful.html">continue</a></small>
        </div>
      </form>

    </div>
 </div>

  <footer>
    Whatever we have to put here...
  </footer>


</body>
</html>
