{{> header }}

<div class="wrapper">
{{> nav}}
<div class="container-fluid">
<div class="row">
<h3 class="col-md-12 mmb">Add Seed (first draft)</h3>
</div>
<form class="form-horizontal">
<div class="row">
<div class="col-md-6">
<h4>Sugestão da Leonor</h4>
</div>
<div class="col-md-6">
	<h4>Campos da Open Source Seed Initiative (importante como referência embora não seja para a recolha de sementes mas para o registo de espécies)</h4>
</div>
</div>
<div class="row">
<div class="col-md-6">
{{> formgroup label='Nome comum e variedade' id='name'}} 
{{> formgroup label='Nome em Latim' id='latinName'}} 
{{> formgroup label='Ano da Colheita' id='year'}} 
{{> formgroup label='Localização do jardim' id='location'}} 
{{> formgroup label='Número de plantas do qual a semente foi recolhida' id='plantCount'}} 
{{> formgroup label='Notas sobre a selecção acerca de saúde ou vigor' id='plantHealth'}} 
{{> formgroup label='Descrição da Planta' id='plantDescription'}} 
{{> formgroup label='Fotos' id='photos'}} 
{{> formgroup label='Indicações de cultivo (época de sementeira, plantio...)' id='plantingNotes'}} 
{{> formgroup label='Usos da planta (medicinal, cosmético, culinário, outro)' id='usesNotes'}} 
{{> formgroup label='Receitas' id='recepyNote'}} 
{{> formgroup label='Data de inscrição na colecção' id='DateRegistered'}} 

</div>

<div class="col-md-6">

	<div class="form-group">
		<label for="email" class="control-label">Name of Breeder</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Affiliation of Breeder</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Address</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Email</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Phone Number</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Crop - Common name</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Crop - Latin name (Genus and species)</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Variety name</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Description of variety development process - How did you develop this variety?</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
	<div class="form-group">
		<label for="email" class="control-label">Description of key characteristics *</label>
		<span class="cell">
			<input type="text" class="form-control" name="name" id="name">
		</span>
	</div>
</div>
</div>
<div class="row">
	<div class="actionButtons text-center lmt">
		<input type="submit" value="Add Seed" class="btn btn-default btn-lg" href="/addSeed.html" /> 
	</div>
</div>
</form>
	</div>

</div>
</div>
{{> footer}}