#index {
  padding-top: 0;
}
#index .jumbotron.intro {
  position: relative;
  padding: 50px;
  min-height: 60vh;
}
#index .jumbotron.intro .inscriptionDescription {
  letter-spacing: 0.01em;
}
#index .jumbotron.intro .mainActions {
  margin-left: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#index #emailInput {
  text-align: center;
}
#index #emailInput::-webkit-input-placeholder {
  text-align: center;
}
#index #emailInput:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
#index #emailInput::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
#index #emailInput:-ms-input-placeholder {
  text-align: center;
}
@media (max-width: 768px) {
  #index .jumbotron.intro .mainActions {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 64px;
    text-align: center;
  }
  #index .jumbotron.intro .mainActions .btn,
  #index .jumbotron.intro .mainActions .btn-group {
    margin-left: 0;
    margin-right: 0;
  }
  #index .jumbotron.intro .mainActions .moreinfo {
    margin-bottom: 32px;
  }
}
